.env
db/data
*/data/*
frontend/build
node_modules
subdomain.config.json
db/backups
server/files/**/
*/logs/*
!server/files/templates
server/build/robots.txt
server/build/sitemap.txt
server/localization
dev
coverage
babel.config.js
frontend/src/styleConverter/*.css

e2e
client
localization
requests
files
demo
build
migrations